.theme-wrapper {
    background-color: maroon;
}
img {
    width: 30px;
    aspect-ratio: 1/1;
}
button {
    width: 40px;
    aspect-ratio: 1/1;
}
.light {
    background-color: whitesmoke;
    color: black;
}

.dark {
    background-color: rgb(58, 58, 58);
    color: white;
}