.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background-color: rgb(74, 74, 243);
	font-weight: bold;
}

.links {
	display: flex;
	width: 400px;
	justify-content: space-around;

	a {
		color: white;
		font-size: 1.5em;
		text-transform: uppercase;
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}